





<div class="bootstrap_chat">
  <div class="container py-5 px-4">
      <header class="text-center">
          <h1 class="display-4">Chat</h1>
      </header>
      <div class="row rounded-lg overflow-hidden shadow d-flex flex-column">
          <div class="col-auto px-0" *ngFor="let m of message" >

                  <div class="media mb-3 p-5">
                      <div class="media-body">
                          <div class="bg-primary rounded py-2 px-3 mb-2">
                              <p class="text-small mb-0 text-white ">{{m.content}}</p>
                          </div>
                          <p class="small text-muted">{{m.author}}</p>
                      </div>
                  </div>
                </div>
                <div class="col-12">
                <form class="form-group col-6 offset-3" action="" [formGroup]="form" (ngSubmit)="handleSubmit()">

                  <input class="form-control" type="text" placeholder="Pseudo" name="author" formControlName="author">
                  <input class="form-control" type="text" placeholder="Message" name="message" formControlName="content">
                  <button type="submit" class="btn btn-primary d-flex">Envoyer !</button>

                </form>
              </div>
          </div>
      </div>

  </div>

